@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply hover:bg-white hover:text-black hover:shadow-lg;
  }
}

:root {
  font-family: Golos Text, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 8px;
  background-color: #F5D9C4; /* or add it to the track */
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #4C2A21;
  border-radius: 0.5rem;
}
