@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply hover:bg-white hover:text-black hover:shadow-lg;
  }
}

:root {
  font-family: Golos Text, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
